.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 10px;
    text-decoration: none;
  }
  
  .nav-link {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #818181;
  }
  
  .nav-link:hover {
    color: white;
  }
  
  .main {
    margin-left: 175px; /* Same as the width of the sidenav */
    font-size: 28px; 
    padding: 0px 10px;
    font-family: "Lato", sans-serif;
  }